.btn {
  min-width: 120px;
  min-height: 36px;
  
  &.btn-lg{
  	min-height: 43.5px;
  }

  &.btn-sm{
  	min-height: 30px;
  }
}

.btn-group {
	.btn {
		min-width: 40px;
	}

	&.ht-focusbar {

		.btn{
			border: 1px solid rgba(255,255,255,0.5) !important;
			background-color: rgba(245,245,245,0.3) !important;
			color: white;
		}

		.btn:active, .btn.active{
			background-color: transparent !important;
		}
	}
}