/*@function decToHex($dec) {
    $hex: "0123456789abcdef";
    $first: (($dec - $dec % 16)/16)+1;
    $second: ($dec % 16)+1;
    @return str-slice($hex, $first, $first) + str-slice($hex, $second, $second)
}

@for $r from 0 through 255 {
	@for $g from 0 through 255 {
		@for $b from 0 through 255 {
			.ht-color-#{decToHex($r)}#{decToHex($g)}#{decToHex($b)} {
				color: #{decToHex($r)}#{decToHex($g)}#{decToHex($b)};
			}
			.ht-color-#{decToHex($r)}#{decToHex($g)}#{decToHex($b)}-bg {
				background-color: #{decToHex($r)}#{decToHex($g)}#{decToHex($b)};
			}
		}
	}
}*/
.bg-color-{
	background-color: #0096ff;
}
.bg-color-1267f1{
    background-color: #1267f1;
}
.bg-color-ff0055{
    background-color: #ff0055;
}
.bg-color-f6a501{
    background-color: #f6a501;
}
.bg-color-66b1e3{
    background-color: #66b1e3;
}
.bg-color-e91e63,.bg-pink{
    background-color: #e91e63;
}
.bg-color-9c27b0,.bg-purple{
    background-color: #9c27b0;
}
.bg-color-3f51b5,.bg-indigo{
    background-color: #3f51b5;
}
.bg-color-2196f3,.bg-blue{
    background-color: #2196f3;
}
.bg-color-4caf50,.bg-green{
    background-color: #4caf50;
}
.bg-color-ff5722,.bg-deeporange{
    background-color: #ff5722;
}
.bg-color-607d8b,.bg-bluegrey{
    background-color: #607d8b;
}