.ht-content{
  background-color: $brand-primary-bg;
}
.ht-content-white{
  background-color: #fff;
}

.ht-navbar{
  background-color: $brand-primary-medium;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ht-trackbar{
	height: 110px;
	background-color: $brand-primary; //background: rgba(33,116,147,0.50);
	border: 0px solid transparent;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -15px;
	margin-right: -15px;
	color: #fff;

	.ht-title{
		font-size: 1.433em;
			color: #fff;
	}

	.ht-actions{
		color: #fff;

		.btn.btn-flat{
			font-size: .8333em;
		}
	}

	.ht-description{
		margin-top: -5px;
		color: #fff;
		font-size: .8333em;
	}
}

.ht-quickbar{
	height: 60px;
	background-color: $brand-primary; //background: rgba(33,116,147,0.50);
	border: 0px solid transparent;

	.ht-quickbar-action{
		margin-top: 9px;
	}

	.ht-focus-title{
		margin-top: 15px;
		color: white;
	}

	.ht-focusbar{
		margin-top: 15px;
		margin-left: 3px;
	}

	.btn-flat {
	    position: relative;
	    vertical-align: middle;
	}

	&.ht-quickbar-active{
		background-color: #fff;
		color: $hightrack-textcolor-medium;
	}
}

.ht-background-theme-primary{
	/* Fondo: */
	background-image: linear-gradient(-135deg, #247BA0 0%, #F3FFBD 100%);
	background-image: linear-gradient(-180deg, #70C1B3 0%, #B2DBBF 100%);
}

#ht-login-box{
	margin-top:50px;
	margin-bottom: 0px;
}

.ht-title{
	color: $gray-dark;
	font-size: $font-size-h4;
	margin-bottom:0px;
}

.ht-subtitle{
	color: $gray-blue;
	font-size: $font-size-h6;
}

.footer {

	font-size: .8rem;
	color: $gray-dark;

	.hidden-xs-down {
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    height: 40px;
	    padding: 0px 25px 0px 25px;

	    .nav {
	    	padding-top: 10px;
	    }
	}

	.hidden-sm-up {

		margin-top: 15px;

		.nav {
	    	padding-top: 10px;
	    }
	}

}

.align-center-block {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.align-left-block {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.align-right-block {
    display: table;
    margin: 0 auto;
    text-align: right;
}

.ht-right{
	float: right;
    display: inline-block;
}

.ht-popover {
	position: absolute;
	box-shadow: 0 2px 6px rgba(0,0,0,.15);
	border: 1px solid #b6b6b6;
}

.ht-active{
	background-color: lighten($brand-primary-light, 20%) !important;
	border-bottom: 1px solid $brand-primary-light !important;
	border-top: 1px solid $brand-primary-light !important;

	&:hover{
		background-color: $brand-primary-light
	}
}

.ht-dock-footer-content1{
	border-top: 1px solid $brand-primary-light !important;
}

.ht-list-title {
	font-size: 0.7333rem;
  height: 25px;
  border-radius: 2px 2px 0px 0px;
  color: $hightrack-list-header-text;
  padding: 5px;
  padding-left: 15px;
  background-color: $hightrack-list-header; //#4444
}