// Colors
// Basic

$hightrack-primary:             #71bf22 !default;
$hightrack-primary-medium:      #80cc2f !default;
$hightrack-primary-icon:      	2380cc2f;
$hightrack-primary-light:       #b9eb83 !default;
$hightrack-primary-light-icon:  23b9eb83;
$hightrack-primary-bg:          #f1f1f1 !default;

$hightrack-secondary-dark:      #7b8695 !default;
$hightrack-secondary:			#e0e0e0 !default;
$hightrack-secondary-icon:	    23e0e0e0;
$hightrack-secondary-light:     #f7f7f9 !default;

$hightrack-success:             #40a33f !default;
$hightrack-success-icon:        2340a33f;
$hightrack-success-light:       #83bc82 !default;

$hightrack-info:                #4a90e2 !default;
$hightrack-info-icon:           234a90e2;
$hightrack-info-light:          #5aeef2 !default;

$hightrack-warning:             #f0ad4e !default;
$hightrack-warning-icon:        23f0ad4e;
$hightrack-warning-light:       #ffb859 !default;

$hightrack-danger:              #ea2a29 !default;
$hightrack-danger-icon:         23ea2a29;
$hightrack-danger-light:        #d96968 !default;

// Text
$hightrack-textcolor-dark: 		#000 !default;
$hightrack-textcolor-normal:	#222 !default;
$hightrack-textcolor-medium:	#333 !default;
$hightrack-textcolor-white:		#fff !default;

// Icons
$hightrack-icon-menu:			23ffffff;
$hightrack-icon-navbar:			23ffffff;

// Focusbar
$hightrack-focusbar-btn-color:  rgba(245,245,245,0.3) !important;
$hightrack-focusbar-btn-color-active: transparent !default;
$hightrack-focusbar-btn-border-color: rgba(255,255,255,0.5) !important;

// Others
$hightrack-list-header: 		#ddd !default;
$hightrack-list-header-text:	#333 !default;
$hightrack-list-group-bg:                 #fff !default;
$hightrack-list-group-border-color:       #ddd !default;