// Colors
// Basic

$hightrack-primary:             #444444 !default;
$hightrack-primary-medium:      #333333 !default;
$hightrack-primary-icon:        230099ff;
$hightrack-primary-light:       #cccccc !default;
$hightrack-primary-light-icon:  239bcdf5;
$hightrack-primary-bg:          #808080 !default;

$hightrack-secondary-dark:      #7b8695 !default;
$hightrack-secondary:			#e0e0e0 !default;
$hightrack-secondary-icon:	    23e0e0e0;
$hightrack-secondary-light:     #f7f7f9 !default;

$hightrack-success:             #70c1b3 !default;
$hightrack-success-icon:        2370c1b3;
$hightrack-success-light:       #80e0c1 !default;

$hightrack-info:                #4a90e2 !default;
$hightrack-info-icon:           234a90e2;
$hightrack-info-light:          #5aeef2 !default;

$hightrack-warning:             #f0ad4e !default;
$hightrack-warning-icon:        23f0ad4e;
$hightrack-warning-light:       #ffb859 !default;

$hightrack-danger:              #d3234b !default;
$hightrack-danger-icon:         23d3234b;
$hightrack-danger-light:        #ff4d80 !default;

// Text
$hightrack-textcolor-dark: 		#000 !default;
$hightrack-textcolor-normal:	#222 !default;
$hightrack-textcolor-medium:	#333 !default;
$hightrack-textcolor-white:		#fff !default;

// Icons
$hightrack-icon-menu:			230099ff;
$hightrack-icon-navbar:			230099ff;

// Focusbar
$hightrack-focusbar-btn-color:  transparent !default;
$hightrack-focusbar-btn-color-active: #eee !default;
$hightrack-focusbar-btn-border-color: $hightrack-focusbar-btn-color-active;

// Others
$hightrack-list-header: 		#444444 !default;
$hightrack-list-header-text:	#fff !default;
$hightrack-list-group-bg:                 #eee;/*#c7c7c7 !default;*/
$hightrack-list-group-border-color:       $hightrack-primary-bg !default;