.ht-icon {
	margin:0px;
	vertical-align: middle;	
	cursor: inherit;
	&.ht-icon-btn{
		cursor: pointer;
	}

	&.ht-icon-like,.ui-icon-like{
		background: $like-white-icon no-repeat;
		width: 20px;
		height: 16px;

		&.ht-icon-on{
			background: $like-red-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $like-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $like-grey-icon no-repeat;
		}
	}

	&.ht-icon-matrix{
		background: $matrix-white-icon no-repeat;
		width: 18px;
		height: 16px;

		&.ht-icon-on{
			background: $matrix-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $matrix-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $matrix-grey-icon no-repeat;
		}
	}

	&.ht-icon-list{
		background: $list-white-icon no-repeat;
		width: 18px;
		height: 16px;

		&.ht-icon-on{
			background: $list-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $list-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $list-grey-icon no-repeat;
		}
	}

	&.ht-icon-add-bg{
		background: $add-white-icon no-repeat;
		width: 25px;
		height: 25px;
		&.ht-icon-on{
			background: $add-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $add-theme-icon no-repeat;
		}
	}

	&.ht-icon-dropdown{
		background: $dropdown-white-icon no-repeat;
		width: 17px;
		height: 10px;
		&.ht-icon-on{
			background: $dropdown-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $dropdown-theme-icon no-repeat;
		}
	}

	&.ht-icon-left-arrow-slim{
		background: $dropdown-white-icon no-repeat;
		width: 14px;
		height: 10px;
		-ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
		&.ht-icon-on{
			background: $dropdown-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $dropdown-theme-icon no-repeat;
		}
		&:hover{
			background: $dropdown-hover-icon no-repeat;
		}
	}

	&.ht-icon-right-arrow-slim{
		background: $dropdown-white-icon no-repeat;
		width: 14px;
		height: 10px;
		-ms-transform: rotate(-90deg); /* IE 9 */
    	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    	transform: rotate(-90deg);
		&.ht-icon-on{
			background: $dropdown-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $dropdown-theme-icon no-repeat;
		}
		&:hover{
			background: $dropdown-hover-icon no-repeat;
		}
	}

	&.ht-icon-smile{
		background: $smile-white-icon no-repeat;
		width: 65px;
		height: 65px;
		&.ht-icon-on{
			background: $smile-on-icon no-repeat;
		}
	}

	&.ht-icon-accomplish{
		background: $accomplish-white-icon no-repeat;
		width: 35px;
		height: 35px;
		&.ht-icon-on{
			background: $accomplish-on-icon no-repeat;
		}
	}

	&.ht-icon-cloud{
		background: $cloud-white-icon no-repeat;
		width: 54px;
		height: 35px;
		&.ht-icon-on{
			background: $cloud-on-icon no-repeat;
		}
	}

	&.ht-icon-people{
		background: $people-white-icon no-repeat;
		width: 44px;
		height: 35px;
		&.ht-icon-on{
			background: $people-on-icon no-repeat;
		}
	}

	&.ht-icon-facebook{
		background: $facebook-white-icon no-repeat;
		width: 8px;
		height: 15px;
		&.ht-icon-on{
			background: $facebook-on-icon no-repeat;
		}
	}

	&.ht-icon-twitter{
		background: $twitter-white-icon no-repeat;
		width: 19px;
		height: 15px;
		&.ht-icon-on{
			background: $twitter-on-icon no-repeat;
		}
	}

	&.ht-icon-googleplus{
		background: $googleplus-white-icon no-repeat;
		width: 22px;
		height: 14px;
		&.ht-icon-on{
			background: $googleplus-on-icon no-repeat;
		}
	}

	&.ht-icon-linkedin{
		background: $linkedin-white-icon no-repeat;
		width: 16px;
		height: 16px;
		&.ht-icon-on{
			background: $linkedin-on-icon no-repeat;
		}
	}
	
	+ .ht-label {
		position: relative;
		top: 2px;
    	margin-left: 5px;
		font-size: 1.067rem;
		cursor: inherit;

		&.ht-label-sm{
		  font-size: .7333rem;
		}
	}

	&.ht-icon-task-header{
		width: 25px;
		height: 25px;
		background: $nav-task-icon;

		&.ht-icon-on{
			background: $nav-task-icon-active no-repeat;
		}
	}
	
	&.ht-icon-track-header{
		width: 25px;
		height: 25px;
		background: $nav-track-icon;

		&.ht-icon-on{
			background: $nav-track-icon-active no-repeat;
		}
	}

	&.ht-icon-folder{
		width: 19px;
		height: 20px; //15px original size
		background: $folder-white-icon;

		&.ht-icon-on{
			background: $folder-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $folder-theme-icon no-repeat;
		}
	}

	&.ht-icon-options{
		width: 14px;
		height: 5px;
		background: $options-white-icon;

		&.ht-icon-on{
			background: $options-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $options-theme-icon no-repeat;
		}
	}

	&.ht-icon-agendamonth{
		width: 18px;
		height: 16px;
		background: $agendamonth-white-icon;

		&.ht-icon-on{
			background: $agendamonth-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $agendamonth-theme-icon no-repeat;
		}
		&.ht-icon-grey{
			background: $agendamonth-grey-icon no-repeat;
		}
	}

	&.ht-icon-agendaweek{
		width: 18px;
		height: 16px;
		background: $agendaweek-white-icon;

		&.ht-icon-on{
			background: $agendaweek-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $agendaweek-theme-icon no-repeat;
		}
		&.ht-icon-grey{
			background: $agendaweek-grey-icon no-repeat;
		}
	}

	&.ht-icon-agendaday{
		width: 18px;
		height: 16px;
		background: $agendaday-white-icon;

		&.ht-icon-on{
			background: $agendaday-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $agendaday-theme-icon no-repeat;
		}
		&.ht-icon-grey{
			background: $agendaday-grey-icon no-repeat;
		}
	}

	&.ht-icon-left-arrow{
		width: 11px;
		height: 13px;
		background: $left-arrow-white-icon;

		&.ht-icon-on{
			background: $left-arrow-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $left-arrow-theme-icon no-repeat;
		}
	}

	&.ht-icon-right-arrow{
		width: 11px;
		height: 12px;
		background: $right-arrow-white-icon;

		&.ht-icon-on{
			background: $right-arrow-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $right-arrow-theme-icon no-repeat;
		}
	}

	&.ht-icon-menu-controller{
		width: 13px;
		height: 30px;
		background: $menu-controller-white-icon;

		&.ht-icon-on{
			background: $menu-controller-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $menu-controller-theme-icon no-repeat;
		}
	}

	&.ht-icon-add-task{
		width: 16px;
		height: 16px;
		background: $add-task-white-icon;

		&.ht-icon-on{
			background: $add-task-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $add-task-theme-icon no-repeat;
		}
	}

	&.ht-icon-search{
		width: 17px;
		height: 16px;
		background: $search-white-icon;

		&.ht-icon-on{
			background: $search-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $search-theme-icon no-repeat;
		}
	}

	&.ht-icon-invite-people{
		width: 18px;
		height: 18px;
		background: $invite-people-white-icon;

		&.ht-icon-on{
			background: $invite-people-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $invite-people-theme-icon no-repeat;
		}
	}

	&.ht-icon-place{
		width: 14px;
		height: 20px;
		background: $place-white-icon;

		&.ht-icon-on{
			background: $place-on-icon no-repeat;
		}
		&.ht-icon-theme{
			background: $place-theme-icon no-repeat;
		}
	}

	&.ht-icon-inbox{
		width: 16px;
		height: 16px;
		background: $inbox-white-icon;

		&.ht-icon-on{
			background: $inbox-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $inbox-theme-icon no-repeat;
		}
	}
	&.ht-icon-todo{
		width: 22px;
		height: 22px;
		background: $todo-white-icon;

		&.ht-icon-on{
			background: $todo-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $todo-theme-icon no-repeat;
		}
	}
	&.ht-icon-delete{
		width: 13px;
		height: 16px;
		background: $delete-white-icon;

		&.ht-icon-on{
			background: $delete-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $delete-theme-icon no-repeat;
		}
	}
	&.ht-icon-note{
		width: 14px;
		height: 16px;
		background: $note-white-icon;

		&.ht-icon-on{
			background: $note-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $note-theme-icon no-repeat;
		}
	}
	&.ht-icon-settings{
		width: 19px;
		height: 19px;
		background: $settings-white-icon;

		&.ht-icon-on{
			background: $settings-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $settings-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $settings-grey-icon no-repeat;
		}
	}
	&.ht-icon-alarm{
		width: 18px;
		height: 21px;
		background: $alarm-white-icon;

		&.ht-icon-on{
			background: $alarm-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $alarm-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $alarm-grey-icon no-repeat;
		}
	}

	&.ht-icon-repeat{
		width: 24px;
		height: 24px;
		background: $repeat-white-icon;

		&.ht-icon-on{
			background: $repeat-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $repeat-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $repeat-grey-icon no-repeat;
		}
	}

	&.ht-icon-duration{
		width: 24px;
		height: 24px;
		background: $duration-white-icon;

		&.ht-icon-on{
			background: $duration-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $duration-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $duration-grey-icon no-repeat;
		}
	}

	&.ht-icon-energy{
		width: 24px;
		height: 24px;
		background: $energy-white-icon;

		&.ht-icon-on{
			background: $energy-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $energy-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $energy-grey-icon no-repeat;
		}
	}

	&.ht-icon-completedlist{
		width: 21px;
		height: 17px;
		background: $completedlist-white-icon;

		&.ht-icon-on{
			background: $completedlist-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $completedlist-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $completedlist-grey-icon no-repeat;
		}
	}

	&.ht-icon-burger-menu{
		width: 29px;
		height: 18px;
		background: $burger-menu-white-icon;

		&.ht-icon-on{
			background: $burger-menu-on-icon no-repeat;
		}

		&.ht-icon-theme{
			background: $burger-menu-theme-icon no-repeat;
		}

		&.ht-icon-grey{
			background: $burger-menu-grey-icon no-repeat;
		}
	}
}

//.btn-group{
	.btn{
		& label.ht-icon{
			top: -1.5px;
    		position: relative;
		}
	}
//}