.ht-icon {
	margin:0px;
	vertical-align: middle;	
	cursor: inherit;

	&.ht-icon-like,.ui-icon-like{
		background: $like-white-icon no-repeat;
		width: 20px;
		height: 16px;
		&.ht-icon-on{
			background: $like-red-icon no-repeat;
		}
	}

	&.ht-icon-matrix{
		background: $matrix-white-icon no-repeat;
		width: 18px;
		height: 16px;
		&.ht-icon-on{
			background: $matrix-on-icon no-repeat;
		}
	}

	&.ht-icon-list{
		background: $list-white-icon no-repeat;
		width: 18px;
		height: 16px;
		&.ht-icon-on{
			background: $list-on-icon no-repeat;
		}
	}

	&.ht-icon-add-bg{
		background: $add-white-icon no-repeat;
		width: 25px;
		height: 25px;
		&.ht-icon-on{
			background: $add-on-icon no-repeat;
		}
	}

	&.ht-icon-dropdown{
		background: $dropdown-white-icon no-repeat;
		width: 17px;
		height: 10px;
		&.ht-icon-on{
			background: $dropdown-on-icon no-repeat;
		}
	}

	&.ht-icon-smile{
		background: $smile-white-icon no-repeat;
		width: 65px;
		height: 65px;
		&.ht-icon-on{
			background: $smile-on-icon no-repeat;
		}
	}

	&.ht-icon-accomplish{
		background: $accomplish-white-icon no-repeat;
		width: 35px;
		height: 35px;
		&.ht-icon-on{
			background: $accomplish-on-icon no-repeat;
		}
	}

	&.ht-icon-cloud{
		background: $cloud-white-icon no-repeat;
		width: 54px;
		height: 35px;
		&.ht-icon-on{
			background: $cloud-on-icon no-repeat;
		}
	}

	&.ht-icon-people{
		background: $people-white-icon no-repeat;
		width: 44px;
		height: 35px;
		&.ht-icon-on{
			background: $people-on-icon no-repeat;
		}
	}

	&.ht-icon-facebook{
		background: $facebook-white-icon no-repeat;
		width: 8px;
		height: 15px;
		&.ht-icon-on{
			background: $facebook-on-icon no-repeat;
		}
	}

	&.ht-icon-twitter{
		background: $twitter-white-icon no-repeat;
		width: 19px;
		height: 15px;
		&.ht-icon-on{
			background: $twitter-on-icon no-repeat;
		}
	}

	&.ht-icon-googleplus{
		background: $googleplus-white-icon no-repeat;
		width: 22px;
		height: 14px;
		&.ht-icon-on{
			background: $googleplus-on-icon no-repeat;
		}
	}

	&.ht-icon-linkedin{
		background: $linkedin-white-icon no-repeat;
		width: 16px;
		height: 16px;
		&.ht-icon-on{
			background: $linkedin-on-icon no-repeat;
		}
	}
	
	+ .ht-label {
		position: relative;
		top: 2px;
    	margin-left: 5px;
		font-size: 1.067rem;
		cursor: inherit;

		&.ht-label-sm{
		  font-size: .7333rem;
		}
	}

	&.ht-icon-task-header{
		width: 25px;
		height: 25px;
		background: $nav-task-icon;

		&.ht-icon-on{
			background: $nav-task-icon-active no-repeat;
		}
	}
	
	&.ht-icon-track-header{
		width: 25px;
		height: 25px;
		background: $nav-track-icon;

		&.ht-icon-on{
			background: $nav-track-icon-active no-repeat;
		}
	}

	&.ht-icon-folder{
		width: 19px;
		height: 20px; //15px original size
		background: $folder-white-icon;

		&.ht-icon-on{
			background: $folder-on-icon no-repeat;
		}
	}

	&.ht-icon-options{
		width: 14px;
		height: 5px;
		background: $options-white-icon;

		&.ht-icon-on{
			background: $options-on-icon no-repeat;
		}
	}
}

//.btn-group{
	.btn{
		& .ht-icon{
			top: -1.5px;
    		position: relative;
		}
	}
//}