//
// My comment
//

$ht-menu-row-line-height: 15px;
$ht-menu-row-margin-top: 0px;

.ht-menu {
	& ul {

		margin-left: -40px;
		margin-bottom: 0px;

		li{
	    	list-style: none;
	    	color: $hightrack-textcolor-medium;
	    	font-size: .7333rem;

	    	line-height: $ht-menu-row-line-height;
    		margin-top: $ht-menu-row-margin-top;

    		.row{
    			padding-top: 7px;
    			border-bottom: 1px solid transparent;
    			border-top: 1px solid transparent;
    		}
	    }
	}

}

.ht-menu-element{
	line-height: $ht-menu-row-line-height;
	margin-top: $ht-menu-row-margin-top;

	&.ht-header{
		line-height: 40px;
	}
}

.ht-category {
	color: $hightrack-textcolor-medium;
	font-weight: 500;
}

.ht-folder {
	& .ht-header{
		color: $hightrack-textcolor-medium;
	    font-size: .7333rem;
	    font-weight: 800;
	    line-height: 0px;
	}

	& ul li .ht-menu-item{
		//padding-left: 35px !important;

		+ .ht-options{
			position: absolute;
			right: 0px;
		}
	}

	/*& ul li {
		 padding-left: 20px; // Uncomment to make support for several folders
	}*/

	& ul {
		padding-left: 40px;
	}

	& li {
		 & .row{
		 	padding-left: 20px;  // Comment to make support for several folders
		}
	}
}

.ht-option-menu-dialog li:hover  {
	background-color: lighten($brand-primary-light, 20%) !important;
	border: inherit;
	border-bottom: 1px solid $brand-primary-light !important;
	border-top: 1px solid $brand-primary-light !important;
	margin-top: -1px !important;
  	outline: 0;
}